// General styling goes here

html {
  overflow-y: auto;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-page {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}

.profileImg {
	width:200px;
	height:200px;
	overflow: hidden;
}
// .navbar-brand {
// 	height:50px;
// }
#landing {
  background: url('../images/landing.jpg'); // TODO image placeholder???
  // height: 500px; /* You must set a specified height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root > :not(.is-fullheight, .navbar) {
  margin-top: $navbar-height;
}

.is-clickable {
  cursor: pointer;
}

.map-user {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: $yellow;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.map-user:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #2f2f2f;
  position: absolute;
  border-radius: 50%;
}

.search-address .mapboxgl-ctrl-geocoder.mapboxgl-ctrl, .mapboxgl-ctrl-top-left {
  margin: 0;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
}
.mapboxgl-ctrl-bottom-left {
  display: none;
}

$sizes: (0,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  .u-m-#{$size} {
    margin: $size + px;
  }
  .u-p-#{$size} {
    padding: $size + px;
  }
}

.listings {
  max-height: calc(100vh - 52px);
  overflow-y: auto;
}

.react-calendar__tile--active {
  background: $link !important;
  &:hover {
    background: $primary !important; 
  }
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside){
  background: $link !important;
  &:hover {
    background: $primary !important; 
  }

  .DayPicker-Caption.label{
    color: $link !important;
  }
}

#doit .hero {
  background: transparent;
  padding: 0 8em;
  height: calc(100vh - 52px);
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 0.4s;
  @include mobile {
    padding: 0;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.through-click {
  pointer-events: none;
  > * {
    pointer-events: all;
  }
}

.has-text-truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.layer {
  position: absolute;
  left: 12px;
  right: 12px;
  top: 12px;
  bottom: 12px;
  @include mobile {
    position: relative;
    padding: 12px;
  }
}

.input-hidden{
  border: none;
  background: none;
  height: 1px;
  width: 100%;
  outline: none;
  // visibility: hidden;
  padding: 0;
  margin: 0;
  float: right;
}
