// General styling goes here

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-page {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}

.profileImg {
	width:200px;
	height:200px;
	overflow: hidden;
}
// .navbar-brand {
// 	height:50px;
// }
#landing {
  background: url('../images/landing.jpg'); // TODO image placeholder???
  // height: 500px; /* You must set a specified height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root > :not(.is-fullheight, .navbar) {
  margin-top: $navbar-height;
}

.is-clickable {
  cursor: pointer;
}

.mymarker {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid red;
  background: rgba(255, 95, 95, 0.425);
}

$sizes: (0,10,15,20,25,30,50);
$positions: ('top','left','bottom','right');

@each $size in $sizes {
  .u-m-#{$size} {
    margin: $size + px;
  }
  .u-p-#{$size} {
    padding: $size + px;
  }
}

.search-address {

//   .mapboxgl-canvas-container, .mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl-bottom-right {
//     display: none;
//   }
  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl, .mapboxgl-ctrl-top-left {
    margin: 0;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    // display: block;
    // position: relative;
  }

}

