// General styling goes here

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.full-page {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar.is-transparent {
  background-color: transparent;
  background-image: none;
}

#landing {
  background: url('../images/landing.jpg'); // TODO image placeholder???
  // height: 500px; /* You must set a specified height */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#root > :not(.is-fullheight, .navbar) {
  margin-top: $navbar-height;
}

.is-clickable {
  cursor: pointer;
}

.map-user {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}
.map-user:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #2f2f2f;
  position: absolute;
  border-radius: 50%;
}

.search-address .mapboxgl-ctrl-geocoder.mapboxgl-ctrl, .mapboxgl-ctrl-top-left {
  margin: 0;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
}

.listings {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 300px;
}
